:root {
    --background: #08090D;
    --surface: #15161C;
    --navbar: #101112;

    --border: #272832;

    --primary: #7C3AED;
    --primary-light: #C6A4FF;

    --text-primary: #F5F5F7;
    --text-secondary: #A7A7B0;
}